<header class="l-header">
    <div class="l-header__inner l-container">
        <a href="../pages/index.html" class="l-header__logo">THE PORTFOLIO OF SATSUKI</a>

        <nav class="l-header__nav" aria-label="Main navigation">
            <ul class="l-header__list">
                <li>
                    <a href="../pages/index.html#products" class="l-header__link">Products</a>
                </li>
                <li>
                    <a href="../pages/index.html#other-works" class="l-header__link">Other Works</a>
                </li>
                <li>
                    <a href="../pages/index.html#contact" class="l-header__link">Contact</a>
                </li>
            </ul>
        </nav>

        <button class="l-header__profile" type="button" aria-expanded="false" aria-controls="profileModal"
            aria-label="Open profile">
            PROFILE
        </button>
    </div>
</header>